body {
    background-color: #f2ebe3;
}

.card {
    position: relative;
    left: 340px;
    height: 500px;
    width: 800px;
    top: 170px;
    border: dotted;
}

.card img {
    width: 50%;
    height: 100%
}



