body {
    background-color: #f2ebe3;
}

img.product-img {
    width: 50%;
    height: 100%
}

.card {
    display: flex;
    position: relative;
    left: 340px;
    height: 500px;
    width: 800px;
    top: 170px;
    border: dotted;
}

.text {
    position: relative;
    left: 80px;
    flex-direction: column;
    align-content: space-around;
}

h2.product-title {
    position: relative;
}

h3.product-name {
    position: relative;
}

h4.product-description {
  position: relative;
  top: 10px;
}

h1.product-price {
  position: relative;

}

h5.discounted-price {

}

button.add-to-cart {

}
.card h4 {
    position: relative;
    float: right;
    bottom: 100px;
}



